name: VK Daily Winner

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm install
      - run: node index.js
        env:
          VK_TOKEN: ${{ secrets.VK_TOKEN }}
          GROUP_ID: ${{ secrets.GROUP_ID }}
          ADMIN_USER_ID: ${{ secrets.ADMIN_USER_ID }}
